{% extends 'MDB/base.html' %}

{% block content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="color: hsl(0, 0%, 13%);" id="all_teams-tab" data-toggle="tab" href="#all_teams" role="tab" aria-controls="all_teams"
            aria-selected="true">Received Applications</a>
        </li>
    </ul> 
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all_teams" role="tabpanel" aria-labelledby="all_teams-tab">
            <div class="post">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    Notification
                                </th>
                                <th scope="col">
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for application in applications %}
                                {% if application.accepted_applicant is False and application.rejected_applicant is False %}
                                    <td>    
                                        <br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        <a href="{% url 'profile' pk=application.applicant.pk %}" style="text-decoration : none; color : #000; ">
                                                <b> {{application.applicant}} </b> wants to join
                                        </a>          
                                        <a href="{% url 'team_detail' pk=application.team.pk %}">
                                            <b>{{application.team}}</b>
                                        </a>
                                    </td>
                                    <td>
                                        {% if not application.accepted_applicant is True %}
                                        <a href="{% url 'application_accept' pk=application.pk team=application.team.pk applicant=application.applicant.pk%}">
                                            <button type="button" class="btn btn-success">Accept</button>
                                        </a>
                                        {% endif %}
                                        {% if not application.rejected_applicant is True %}
                                        <a href="{% url 'application_reject' pk=application.pk team=application.team.pk applicant=application.applicant.pk%}">
                                            <button type="button" class="btn btn-danger">Decline</button>
                                        </a>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>               
            </div> 
        </div>
    </div>
{% endblock %}