{% extends 'MDB/base.html' %}

{% block content %}
    <div class="container">
        <h1>Profile</h1>
        <p>Username: {{ user }}</p>
        <p>First Name: {{ user.first_name}}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Description: {{ user.userprofile.description }}</p>
        <p>Phone: {{ user.userprofile.phone }}</p>
        <p>City: {{ user.userprofile.phone }}</p>
        <p>Website: {{ user.userprofile.website }}</p>
        {% if user.userprofile.image %}
            <img src="{{user.userprofile.image.url}}" width="240">
        {% endif %}

        {% if request.user == user %}
        <h1><b>Private Posts:</b></h1>
        {% for post in private_posts %}
        <br>
        {% if forloop.first %}<div class="row">{% endif %}
        <div class="col">
            <!-- Card -->
                <div class="card hoverable">    
                <!-- Card content -->
                    <div class="card-body">
                        <a href="{% url 'profile' pk=post.author.pk %}" style="text-decoration : none; color : #000; ">
                                <img src={{post.author.userprofile.image.url}} class="rounded-circle z-depth-0" alt="avatar image" height="35">
                                {{ post.author }}
                        </a>          
                    </div>                     
                <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src={{post.image.url}} alt="Card image cap">
                            <!-- <img class="card-img-top" src={{post.image.url}} alt="Card image cap"> -->
                            <a href="{% url 'post_detail' pk=post.pk %}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                    </div>
    
                    <!-- Card content -->
                    <div class="card-body">
                
                        <!-- Title -->
                        <h5 class="card-title" href= "{% url 'post_detail' pk=post.pk %}">{{ post.title }}</h5>
                        <hr>
                        <!-- Text -->
                        <a class="card-text" href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
                
                    </div>                
                </div>
                <br><br>
            <!-- Card -->
        </div>
        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %} 
        {% endif %}

        <h1><b>Public Posts: </b></h1>
        {% for post in public_posts %}
                    <br>
                    {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col">
                        <!-- Card -->
                            <div class="card hoverable">    
                            <!-- Card content -->
                                <div class="card-body">
                                    <a href="{% url 'profile' pk=post.author.pk %}" style="text-decoration : none; color : #000; ">
                                            <img src={{post.author.userprofile.image.url}} class="rounded-circle z-depth-0" alt="avatar image" height="35">
                                            {{ post.author }}
                                    </a>          
                                </div>                     
                            <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top" src={{post.image.url}} alt="Card image cap">
                                        <!-- <img class="card-img-top" src={{post.image.url}} alt="Card image cap"> -->
                                        <a href="{% url 'post_detail' pk=post.pk %}">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                </div>
                
                                <!-- Card content -->
                                <div class="card-body">
                            
                                    <!-- Title -->
                                    <h5 class="card-title" href= "{% url 'post_detail' pk=post.pk %}">{{ post.title }}</h5>
                                    <hr>
                                    <!-- Text -->
                                    <a class="card-text" href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
                            
                                </div>                
                            </div>
                        <!-- Card -->
                        <br><br>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                    {% endfor %}     
    </div>
{% endblock %}